---
import Head from '../components/Head.astro';
import Layout from '../layouts/Layout.astro';

const title = 'About';
---

<Head title={title} />
<Layout>
	<section class="py-12 px-4">
		<div class="mt-6 max-w-screen-lg mx-auto">
			<div class="space-y-4">
				<h1 class="text-4xl">{title}</h1>
			</div>
			<div class="pt-6 space-y-10 pb-44">
				<p class="text-white/80">I'm still working on this page!</p>
			</div>
		</div>
	</section>
</Layout>


