---
import Head from '../components/Head.astro';
import LayoutLight from '../layouts/LayoutLight.astro';

import Hero from '../components/Hero.astro';
const title = 'CV';
---

<Head title={title} />
<LayoutLight>
	<Hero title={title}/>
	<section class="pt-12 pb-16 px-4">
		<div class="mt-6 max-w-screen-sm mx-auto">
			<div class="space-y-10 mb-12">
				<div>
					<h3>Personal information</h3>
					<div class="grid grid-cols-5 text-sm gap-6 mt-6">
						<p class="text-[#888] col-span-1">Name</p>
						<div class="col-span-4 space-y-1">
							<p class="text-white">Johan Eriksson</p>
						</div>
					</div>
					<div class="grid grid-cols-5 text-sm gap-6 mt-6">
						<p class="text-[#888] col-span-1">Location</p>
						<div class="col-span-4 space-y-1">
							<p class="text-white">Stockholm, Sweden</p>
						</div>
					</div>
					<!-- <div class="grid grid-cols-5 text-sm gap-6 mt-6">
						<p class="text-[#888] col-span-1">Short bio</p>
						<div class="col-span-4 space-y-1 leading-relaxed">
							<p class="text-white/80">I'm a web developer with a passion for creating beautiful and functional websites.</p>
							<p class="text-white/80">I'm originally from Örebro and moved to Stockholm in 2018.</p>
							<p class="text-white/80">I'm married and have a 3 year old son.</p>
							<p class="text-white/80">In my free time I enjoy playing disc golf, going to the gym and reading books.</p>
						</div>
					</div> -->
				</div>
				<div>
					<h3>Education</h3>
					<div class="grid grid-cols-5 text-sm gap-12 mt-6">
						<p class="text-[#888] col-span-1">2025</p>
						<div class="col-span-4 space-y-1">
							<p class="text-white">Cybersecurity - fundamentals and awareness</p>
							<p class="text-[#939393]">Linköping Universitet (Remote)</p>
						</div>
					</div>
					<div class="grid grid-cols-5 text-sm gap-12 mt-6">
						<p class="text-[#888] col-span-1">2014</p>
						<div class="col-span-4 space-y-1">
							<p class="text-white">3D-graphics and Visual Effects for Video</p>
							<p class="text-[#939393]">Örebro Universitet</p>
						</div>
					</div>
					<div class="grid grid-cols-5 text-sm gap-12 mt-6">
						<p class="text-[#888] col-span-1">2012 - 2013</p>
						<div class="col-span-4 space-y-1">
							<p class="text-white">Bachelor of Arts</p>
							<p class="text-white/80">Digital media design / Media and Communication Studies </p>
							<p class="text-[#939393]">Örebro Universitet</p>
						</div>
					</div>
				</div>
				<div>
					<h3>Work experience</h3>
					<div class="grid grid-cols-5 text-sm gap-12 mt-6">
						<p class="text-[#888] col-span-1">2018 - Now</p>
						<div class="col-span-4 space-y-1">
							<a href="https://wtmg.se" class="text-white flex gap-1 hover:underline" target="_blank"><span>Developer at WTMG</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg></a>
							<p class="text-[#939393]">Design, build and maintain websites, apps and services for clients and internal use.</p>
							<p class="text-[#939393]">Worked with a wide range of technologies and frameworks (Wordpress, Laravel, Astro, React, Vue etc.).</p>
						</div>
					</div>
				</div>
				<div>
					<h3>Contact</h3>
					<div class="grid grid-cols-5 text-sm gap-4 mt-4">
						<p class="text-[#888] col-span-1">Email</p>
						<div class="col-span-4">
							<a href="mailto:johan@jeksn.me" class="text-white flex gap-1 hover:underline"><span>johan@jeksn.me</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg></a>
						</div>
						<p class="text-[#888] col-span-1">LinkedIn</p>
						<div class="col-span-4">
							<a href="https://linkedin.com/in/jeksn" class="text-white flex gap-1 hover:underline" target="_blank"><span>jeksn</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg></a>
						</div>
						<p class="text-[#888] col-span-1">GitHub</p>
						<div class="col-span-4">
							<a href="https://github.com/jeksn" class="text-white flex gap-1 hover:underline" target="_blank"><span>jeksn</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</LayoutLight>


