---
import Head from '../components/Head.astro';
import Layout from '../layouts/Layout.astro';

---

<Head title="Home" />
<Layout>
	<section class="hero bg-zinc-900">
		<div class="flex flex-col items-center max-w-screen-lg mx-auto justify-center h-[60vh] px-4 -mt-[80px]">
			<div class="flex flex-col text-center gap-y-3">
				<h1 class="my-3 text-xl md:text-5xl font-inter font-light">
					jeksn.me
				</h1>
				<p class="text-center text-sm md:text-base text-white/80"><span class="text-white">Frontend Developer</span> & <br><span class="text-white">Designer</span> from <br><span class="text-white">Stockholm</span></p>
			</div>
		</div>
	</section>
	
</Layout>
<style>
	.hero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(https://images.hdqwalls.com/download/digital-art-abstract-black-lines-minimalism-5k-q3-3840x2160.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
</style>