---
import Head from '../components/Head.astro';
import Layout from '../layouts/Layout.astro';

---

<Head title="Home" />
<Layout>
	<section class="">
		<div class="flex flex-col items-center max-w-screen-lg mx-auto justify-center h-[70vh] px-4 -mt-[80px]">
			<div class="flex flex-col items-center font-departure text-center gap-y-6">
				<h1 class="py-2 text-3xl md:text-5xl text-orange-100 font-departure"><span class="text-orange-100/30 font-departure animate-pulse">https://</span>jek.sn<span class="text-orange-100/30 font-departure animate-pulse">/</span></h1>
				<p class="text-lg text-orange-100/70 font-departure">
					I still believe in the value of the personal website<em>*</em>. 
					<br />
					And this is mine.
					<br />
					<br />
					<a href="mailto:johan@jeksn.com" class="text-orange-100/70 hover:text-orange-100 transition-colors font-departure underline underline-offset-2">
						Get in touch
					</a>
				</p>
			</div>
		</div>
	</section>
</Layout>
