---
import Head from '../components/Head.astro';
import Layout from '../layouts/Layout.astro';

---

<Head title="Home" />
<Layout>
	<section>
		<div class="flex flex-col items-center justify-center h-[70vh] px-4">
			<div class="flex flex-col items-start justify-center gap-6">
				<div class="flex flex-col text-base gap-y-1 md:text-xl">
					<h1 class="my-3 text-4xl md:text-8xl">jeksn.me</h1>
						<div>
							<p>I'm a design-minded developer in Stockholm <span class="text-2xl">🇸🇪</span></p>
							<p>Currently working at <a href="https://wtmg.se" target="_blank" class="underline transition-all underline-offset-4 hover:underline-offset-8">WTMG.</a></p>
						</div>
					</div>
				<a href="/about" class="border transition-all duration-300 linear hover:border-white/70 border-white/30 px-12 py-4">
					<span>About me</span>
				</a>
			</div>
		</div>
	</section>
</Layout>
<style>
	section {
		/* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(https://images.hdqwalls.com/download/digital-art-abstract-black-lines-minimalism-5k-q3-3840x2160.jpg); */
		/* background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(https://static.vecteezy.com/system/resources/previews/017/187/794/non_2x/abstract-line-art-background-mountain-topographic-terrain-map-background-with-white-shape-lines-texture-design-illustration-for-wall-art-fabric-packaging-web-banner-app-wallpaper-vector.jpg); */
		background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)), url(https://static.vecteezy.com/system/resources/previews/010/711/511/large_2x/abstract-background-design-using-wavy-line-pattern-in-white-color-black-background-3d-rendering-and-4k-size-free-photo.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
</style>
