---
import Head from '../components/Head.astro';
import Layout from '../layouts/Layout.astro';

---

<Head title="Home" />
<Layout>
	<section class="border-b border-neutral-900 hero bg-gradient-to-br from-neutral-900/20 to-neutral-800/40">
		<div class="flex flex-col items-center max-w-screen-lg mx-auto justify-center h-[60vh] px-4 -mt-[80px]">
			<div class="flex flex-col items-center text-center gap-y-3">
				<h1 class="py-2 text-3xl md:text-5xl font-mono hidden text-white">jek.sn</h1>
			</div>
		</div>
	</section>
	
</Layout>
<!-- <style>
	.hero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('/nYfOASMZ.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
</style> -->