---
import Head from '../components/Head.astro';
import Layout from '../layouts/Layout.astro';
import NowData from '../../public/data/now.json';

import Hero from '../components/Hero.astro';
const title = 'Now';
---

<Head title={title} />
<Layout>
	<Hero title={title} subtitle="What I'm currently focusing on." />
	<section class="py-12 px-4">
		<div class="mt-6 max-w-screen-lg mx-auto">
			<div class="space-y-10 mb-12">
				<ul class="mt-4 ml-3 w-full md:w-3/5">
					{NowData.map((app) => (
						<li class="list-disc my-6 space-y-1">
							<p>{app.name}</p>
							<p class="text-sm text-white/80 whitespace-pre-line">{app.description}</p>
						</li>
					))}
				</ul>
			</div>
		</div>
	</section>
</Layout>


