---
import Head from '../components/Head.astro';
import Layout from '../layouts/Layout.astro';
import NowData from '../../public/data/now.json';

const title = 'Now';
---

<Layout>
	<Head title={title} />
	<section class="py-12 px-4 mt-6 max-w-screen-lg mx-auto">
		<div>
			<h1 class="text-4xl">{title}</h1>
			<ul class="mt-4 ml-3">
				{NowData.map((app) => (
					<li class="list-disc my-3 space-y-1">
						<p>{app.name}</p>
						<p class="text-sm text-white/80">{app.description}</p>
					</li>
				))}
			</ul>
		</div>
	</section>
</Layout>

