---
import profilePic from '../assets/images/blue.png';
const year = new Date().getFullYear();
---

<footer class="w-full pt-12 pb-6 px-4 bg-gray-600/20">
	<div class="max-w-screen-lg py-6 mx-auto">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-x-32 gap-y-12">
			<div class="flex justify-center md:justify-start">
				<a href="/" class="duration-300 ease-in-out">
					<img 
					src={profilePic.src} 
					class="transition-all duration-200 rounded-full size-10 hover:scale-110" 
					width={80} 
					height={80} 
					alt="blue orb" 
					loading="lazy"/>
				</a>
			</div>
			<div class="flex flex-col items-center md:items-start space-y-2">
				<h2 class="text-lg underline underline-offset-4">Links</h2>
				<ul class="flex flex-col items-center md:items-start space-y-2 *:text-white/80">
					<a href="/blog" class="transition-all text-sm hover:underline hover:underline-offset-4">Blog</a>
					<a href="/uses" class="transition-all text-sm hover:underline hover:underline-offset-4">Uses</a>
					<a href="/reading-list" class="transition-all text-sm hover:underline hover:underline-offset-4">Reading List</a>
					<a href="/projects" class="transition-all text-sm hover:underline hover:underline-offset-4">Projects</a>
					<a href="/now" class="transition-all text-sm hover:underline hover:underline-offset-4">Now</a>
					<a href="https://github.com/jeksn/jeksn-site" class="transition-all text-sm hover:underline hover:underline-offset-4">Repo</a>
				</ul>
			</div>
			<div class="flex flex-col items-center md:items-start space-y-2">
				<h2 class="text-lg underline underline-offset-4">Where to find me</h2>
				<ul class="flex flex-col items-center md:items-start space-y-2 *:text-white/80">
					<a href="https://github.com/jeksn" class="transition-all text-sm hover:underline hover:underline-offset-4">GitHub</a>
					<!-- <a href="https://bsky.app/profile/jeksn.bsky.social" class="transition-all text-sm hover:underline hover:underline-offset-4">Bluesky</a> -->
					<a href="https://www.linkedin.com/in/jeksn/" class="transition-all text-sm hover:underline hover:underline-offset-4">LinkedIn</a>
					<a href="https://read.cv/jeksn" class="transition-all text-sm hover:underline hover:underline-offset-4">Read.cv</a>
					<a href="mailto:johan@jeksn.me" class="transition-all text-sm hover:underline hover:underline-offset-4">E-mail me</a>
				</ul>
			</div>
		</div>
		<div class="flex justify-center mt-24">
			<span class="text-sm text-white/70">Copyright © {year} Johan Eriksson / jeksn</span>
		</div>
	</div>
</footer>

</body>
</html>