---
const title = Astro.props.title.charAt(0).toUpperCase() + Astro.props.title.slice(1);
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
<head>
	<!-- <link rel="sitemap" href="/sitemap-index.xml"> -->
	<title>{title} - jeksn.me</title>
	<meta name="description" content="Welcome to my new Astro site!">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	
	<!-- Open Graph tags -->
	<meta property="og:title" content={title} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.jeksn.me/" />
	<meta property="og:description" content="jeksn.me" />
	<meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp">
	<meta property="og:image:alt" content="">
</head>
<body>